.cart-group-list {
  list-style-type: none;
  padding: 0;
}

.cart-group-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  display: flex; /* Use flexbox for layout control */
  align-items: center; /* Vertically align items */
}

.group-image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  border-radius: 4px;
}

.content {
  font-weight: bold;
  margin-right: 10px;
}

.created-at {
  font-size: 0.9em;
  color: #888;
  margin-right: 10px;
}

.description {
  font-style: italic;
}