<igx-navbar title="Cart">
    <igx-navbar-action>
        <igx-icon family="fa" name="fa-home" style="color: black;"></igx-icon>
    </igx-navbar-action>
  
    <a [routerLink]="['/']" igxIconButton="flat">
      <igx-icon style="color: black;">home</igx-icon>
    </a>
  
    <a [routerLink]="['/cart']" igxIconButton="flat">
      <igx-icon style="color: black;">shopping_cart</igx-icon>
    </a>
  
    <a [routerLink]="['/userprofile']" igxIconButton="flat">
      <igx-icon style="color: black;">account_circle</igx-icon>
    </a>
  </igx-navbar>
