<igx-navbar title="Cart">
    <igx-navbar-action>
        <button igxIconButton="flat"  [routerLink]="['']">
            <igx-icon family="fa" name="fa-home"></igx-icon>
        </button>
    </igx-navbar-action>
        
    <button igxIconButton="flat">
        <igx-icon>search</igx-icon>
    </button>
    <button igxIconButton="flat">
        <igx-icon>shopping_cart</igx-icon>
    </button>
    <button igxIconButton="flat">
        <igx-icon [routerLink]="['userprofile']">account_circle</igx-icon>
    </button>
</igx-navbar>

