<div class="userGroups" style="background-color: #F5F5F5;">
  <div class="container" >
    <div class="search-bar" >
        <div class="input-group" style="background-color:  #FFFFFF;">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchTerm" (input)="filterGroups()">
            <button class="btn btn-outline-secondary" type="button" id="search-addon" >
                    <i class="fas fa-search"></i>
                </button>
        </div>
        </div>
        </div>

        <div>
          <h4>Groups</h4>
          <div id="cardCarousel" class="carousel slide" data-bs-touch="true" data-bs-interval="3000" style="margin-top: 30px;" >
            <div class="carousel-inner">
                <div *ngFor="let group of userGroups ; let i = index" class="carousel-item" [class.active]="i === 0">
                <div class="card floating-card" (click)="onCardClick('Beach')">
                  <img [src]="group.groupImage" class="card-img-top" alt="groupImage">
                  <div class="card-body">
                    <h5  class="card-title">{{group.groupName}}</h5>
                    <p class="card-text" style="color: #333333;">{{group.description}}</p>
                  </div>
                </div>
                </div>
            </div>
          
            <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
</div>

  <nav class="bottom-app-bar">
    <button class="settings-button" >
      <i class="bi bi-gear"></i>
    </button>

    <button class="fab-button" (click)="groupForm()">
      <i class="bi bi-plus"></i>
    </button>

    <button class="logout-button" >
      <i class="bi bi-box-arrow-right"></i>
    </button>
  </nav>

  <div *ngIf="display" class="popup-overlay">
    <div class="form-popup">
      <form (ngSubmit)="submitGroup()">
        <label>Group Name:</label>
        <input type="text" [(ngModel)]="groupName" name="groupName"><br>
        <label>Description:</label>
        <input type="text" [(ngModel)]="description" name="description"><br>
        <label>Group Image URL:</label>
        <input type="text" [(ngModel)]="groupImage" name="groupImage"><br>
        <button type="submit">Create</button>
        <button (click)="cancelGroup()">Cancel</button>
      </form>
    </div>
  </div>
</div>


  